<div class="row m-t-md">
	<gx-form-group stereotype="textarea"
		label="Filme"
		required="$ctrl.required"
		description="Nome do filme"
		example="Avatar"
		model="$ctrl.selectedFilm.synopsis"
		gx-rows="12"
		gx-cols="8"
		disabled="$ctrl.disabled"
		class="col-sm-6"></gx-form-group>
	<gx-form-group stereotype="textarea"
		label="{{$ctrl.label}}"
		required="$ctrl.required"
		description="{{$ctrl.description}}"
		example="{{$ctrl.example}}"
		model="$ctrl.selectedFilm.synopsis"
		gx-rows="12"
		gx-cols="8"
		disabled="$ctrl.disabled"
		class="col-sm-6"></gx-form-group>
</div>