<div class="row m-t-md">
	<gx-form-group stereotype="text"
		label="Filme"
		required="$ctrl.required"
		description="Nome do filme"
		example="Avatar"
		model="$ctrl.selectedFilm.name"
		gx-minlength="3"
		gx-maxlength="32"
		disabled="$ctrl.disabled"
		class="col-sm-6"></gx-form-group>
	<gx-form-group stereotype="text"
		label="{{$ctrl.label}}"
		required="$ctrl.required"
		description="{{$ctrl.description}}"
		example="{{$ctrl.example}}"
		model="$ctrl.selectedFilm.name"
		gx-minlength="3"
		gx-maxlength="32"
		disabled="$ctrl.disabled"
		class="col-sm-6"></gx-form-group>
</div>