<div class="row m-t-md">
	<gx-form-group stereotype="date-time"
		label="Data"
		required="$ctrl.required"
		model="$ctrl.selectedFilm.year"
		disabled="$ctrl.disabled"
		class="col-sm-3"></gx-form-group>

	<gx-form-group stereotype="date"
		label="Data"
		required="$ctrl.required"
		model="$ctrl.selectedFilm.year"
		disabled="$ctrl.disabled"
		class="col-sm-3"></gx-form-group>

	<gx-form-group stereotype="date-month"
		label="Data"
		required="$ctrl.required"
		model="$ctrl.selectedFilm.year"
		disabled="$ctrl.disabled"
		class="col-sm-3"></gx-form-group>

	<gx-form-group stereotype="date-year"
		label="Data"
		required="$ctrl.required"
		model="$ctrl.selectedFilm.year"
		disabled="$ctrl.disabled"
		class="col-sm-3"></gx-form-group>
</div>