<div ui-view>

    <div gx-intro-id="1" class="jumbotron bg-white-opacity bkg-bannerA">
        <div class="container-fluid text-center text-white">
            <h1>Global UX</h1>
            <p>
                <h3>Framework de experiência do usuário</h3>
            </p>
            <p>
                <i class="fa fa-2x fa-mobile hvr-grow"></i>&nbsp;&nbsp;
                <i class="fa fa-2x fa-desktop hvr-grow"></i>&nbsp;&nbsp;
                <i class="fa fa-2x fa-tablet hvr-grow"></i>&nbsp;&nbsp;
            </p>
            <p>
                <desc>A caixa de componentes e padrões de usabilidade</desc>
            </p>

            <div class="hidden-xs">
                <span>
                    <a href="" target="_blank" class="btn btn-lg btn-info btn-addon hvr-pop">Colaborar com GUX</a>
                </span>

                <span> - ou - </span>

                <span>
                    <a href="" class="btn btn-lg btn-black btn-addon hvr-pop">Começar um projeto</a>
                </span>
            </div>

            <div class="visible-xs">
                <span>
                    <a href="" class="btn btn-sm btn-info btn-addon hvr-pop">Colaborar com GUX</a>
                </span>

                <span> - ou - </span>

                <span>
                    <a href="" class="btn btn-sm btn-black btn-addon hvr-pop">Começar um projeto</a>
                </span>
            </div>


        </div>
    </div>

    <gx-panel class="wrapper-lg m-t-n-lg">
        <gx-panel-body>
            <div class="blog-post">
                <div class="col">
                    <div class="wrapper-md">
                        <div class="text-center">
                            <h2 class="m-t-none">Estamos felizes por você chegar até aqui!</h2>
                            <p>Você está no <i class="fa fa-heart text-danger"></i> do GUX Toolbox.
                            </p>
                            <p>Esta é uma documentação que está em constante melhoria. Envie suas sugestões.</p>
                        </div>
                    </div>
                    <p class="version text-center">
                        <small class="text-muted">Versão atual do GUX: v0.3.0</small>
                        <br/><br/>
                        <a href="#" target="_blank" class="btn btn-sm btn-addon btn-default hvr-float-shadow">repositório git
                    <i class="fa fa-bitbucket" aria-hidden="true"></i>
                </a>
                        <a href="#" target="_blank" class="btn btn-sm btn-addon btn-default hvr-float-shadow">reportar problemas
                    <i class="fa fa-bug" aria-hidden="true"></i>
                </a>
                        <a href="#" target="_blank" class="btn btn-sm btn-addon btn-default hvr-float-shadow">base de conhecimento
                    <i class="fa fa-book" aria-hidden="true"></i>
                </a>
                    </p>
                    <div class="line line-lg b-b b-light"></div>
                    <div class="text-muted"> <i class="fa fa-user text-muted"></i> por: <a href="" class="m-r-sm">Equipe de UX</a> <i class="fa fa-clock-o text-muted"></i> Jan, 2017 </div>
                </div>
            </div>
        </gx-panel-body>
    </gx-panel>

    <div class="row wrapper-lg">
        <div class="col-md-12">
            <div class="row row-sm m-t-n-lg text-center">
                <div class="col-md-3 col-xs-6">
                    <a ui-sref="home.components.text" href class="block panel padder-v bg-default item hvr-bounce-to-bottom">
                        <span class="text-light font-thin h3 block">text</span>
                        <span class="text-xs">componentes</span>
                        <span class="bottom text-right w-full">
                  <i class="fa fa-gear text-light m-r-sm"></i>
                </span>
                    </a>
                </div>
                <div class="col-md-3 col-xs-6">
                    <a ui-sref="home.components.textarea" href class="block panel padder-v bg-default item hvr-bounce-to-bottom">
                        <span class="text-light font-thin h3 block">textarea</span>
                        <span class="text-xs">componentes</span>
                        <span class="bottom text-right w-full">
                  <i class="fa fa-gear text-light m-r-sm"></i>
                </span>
                    </a>
                </div>
                <div class="col-md-3 col-xs-6">
                    <a ui-sref="home.components.number" href class="block panel padder-v bg-default item hvr-bounce-to-bottom">
                        <span class="text-light font-thin h3 block">number</span>
                        <span class="text-xs">componentes</span>
                        <span class="bottom text-right w-full">
                  <i class="fa fa-gear text-light m-r-sm"></i>
                </span>
                    </a>
                </div>
                <div class="col-md-3 col-xs-6">
                    <a ui-sref="home.components.currency" href class="block panel padder-v bg-default item hvr-bounce-to-bottom">
                        <span class="text-light font-thin h3 block">currency</span>
                        <span class="text-xs">componentes</span>
                        <span class="bottom text-right w-full">
                  <i class="fa fa-gear text-light m-r-sm"></i>
                </span>
                    </a>
                </div>
            </div>

            <div class="row row-sm text-center">
                <div class="col-md-3 col-xs-6">
                    <a ui-sref="home.components.calendar" href class="block panel padder-v bg-default item hvr-bounce-to-bottom">
                        <span class="text-light font-thin h3 block">calendar</span>
                        <span class="text-xs">componentes</span>
                        <span class="bottom text-right w-full">
                  <i class="fa fa-gear text-light m-r-sm"></i>
                </span>
                    </a>
                </div>
                <div class="col-md-3 col-xs-6">
                    <a ui-sref="home.components.select" href class="block panel padder-v bg-default item hvr-bounce-to-bottom">
                        <span class="text-light font-thin h3 block">select</span>
                        <span class="text-xs">componentes</span>
                        <span class="bottom text-right w-full">
                  <i class="fa fa-gear text-light m-r-sm"></i>
                </span>
                    </a>
                </div>
                <div class="col-md-3 col-xs-6">
                    <a ui-sref="home.components.dropdown" href class="block panel padder-v bg-default item hvr-bounce-to-bottom">
                        <span class="text-light font-thin h3 block">dropdown</span>
                        <span class="text-xs">componentes</span>
                        <span class="bottom text-right w-full">
                  <i class="fa fa-gear text-light m-r-sm"></i>
                </span>
                    </a>
                </div>
                <div class="col-md-3 col-xs-6">
                    <a ui-sref="home.components.autocomplete" href class="block panel padder-v bg-default item hvr-bounce-to-bottom">
                        <span class="text-light font-thin h3 block">autocomplete</span>
                        <span class="text-xs">componentes</span>
                        <span class="bottom text-right w-full">
                  <i class="fa fa-gear text-light m-r-sm"></i>
                </span>
                    </a>
                </div>
            </div>

            <div class="row row-sm text-center">
                <div class="col-md-3 col-xs-6">
                    <a ui-sref="home.components.switch" href class="block panel padder-v bg-default item hvr-bounce-to-bottom">
                        <span class="text-light font-thin h3 block">switch</span>
                        <span class="text-xs">componentes</span>
                        <span class="bottom text-right w-full">
                  <i class="fa fa-gear text-light m-r-sm"></i>
                </span>
                    </a>
                </div>
                <div class="col-md-3 col-xs-6">
                    <a ui-sref="home.components.equation" href class="block panel padder-v bg-default item hvr-bounce-to-bottom">
                        <span class="text-light font-thin h3 block">equation</span>
                        <span class="text-xs">componentes</span>
                        <span class="bottom text-right w-full">
                  <i class="fa fa-gear text-light m-r-sm"></i>
                </span>
                    </a>
                </div>


            </div>

        </div>

    </div>

    <gx-panel class="wrapper-lg m-t-n-lg">
        <gx-panel-body>
            <div class="text-center">
                <h3 class="m-t-none">Criar uma aplicação demonstração utilizando o GUX</h3>
                <p>Para criar uma projeto base, siga os passos:
                </p>
                <figure class="highlight">
                    <pre><code class="language-bash" data-lang="bash"><span class="gp">$ </span>yo gux-toolbox</code></pre>
                </figure>

            </div>
            <div class="line line-lg b-b b-light"></div>
            <div class="text-muted"> <i class="fa fa-user text-muted"></i> por: <a href="" class="m-r-sm">Equipe de UX</a> <i class="fa fa-clock-o text-muted"></i> Jan, 2017 </div>
        </gx-panel-body>
    </gx-panel>

</div>