<md-toast class="md-primary fixed w-full bg-dark-only">

    <div class="w-full wrapper">

        <span class="md-toast-text font-bold text-success h4">Contato criado! </span>

        <span class="md-toast-text m-l">O seu novo contato receberá uma mensagem para criação de login e senha de acesso!</span>

    </div>

    <button class="md-primary btn-fw m-b-sm md-button md-default-theme md-highlight " ng-click="openMoreInfo($event)">Saiba mais...</button>

    <button class="md-raised md-accent btn-fw m-b-sm md-button md-default-theme" ng-click="closeToast()">OK!</button>

</md-toast>