<div class="row">

    <div class="col-xs-3">
        <div class="panel padder-v item card text-center bg-light lter">
            <div class="h5 text-info font-thin h1">{{ favoriteTopping }}</div>
            <span class="text-muted text-xs">Motivo deste cadastro</span>
            <div class="top text-right w-full">
                <i class="fa fa-user-plus text-muted m-r-sm"></i>
            </div>
        </div>
    </div>

    <div class="col-xs-3">
        <div class="panel padder-v item card text-center bg-light lter">
            <div class="h5 text-info font-thin">{{ valorEmailPre }}</div>
            <span class="text-muted text-xs">e-mail escolhido para o cadastro</span>
            <div class="top text-right w-full">
                <i class="fa fa-envelope-o text-muted m-r-sm"></i>
            </div>
        </div>
    </div>

    <div class="col-xs-3">
        <div class="panel padder-v item card text-center bg-light lter">
            <div class="h5 text-info font-thin">{{ valorUser }}</div>
            <span class="text-muted text-xs">usuário pré-selecionado</span>
            <div class="top text-right w-full">
                <i class="fa fa-user text-muted m-r-sm"></i>
            </div>
        </div>
    </div>

    <div class="col-xs-3">
        <div class="panel padder-v item card text-center bg-light lter">
            <div class="h5 text-info font-thin">{{ valorDoc }}</div>
            <span class="text-muted text-xs">documento para validação</span>
            <div class="top text-right w-full">
                <i class="fa fa-key text-muted m-r-sm"></i>
            </div>
        </div>
    </div>

</div>

<div class="row" ng-controller="ProfileMockupController">

    <div class="col-xs-6 animated zoomIn">
        <div class="panel padder-v item card text-center bg-light dk">
            <div class="h4 text-success font-thin h1">{{ valorRs }}</div>
            <span class="text-muted text-xs">Razão Social</span>

        </div>
    </div>

    <div class="col-xs-6 animated zoomIn">
        <div class="panel padder-v item card text-center bg-light dk">
            <div class="h4 text-success font-thin">{{ cnpj }}</div>
            <span class="text-muted text-xs">CNPJ do candidato</span>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-xs-12">

        <div class="panel padder-v item text-center no-padder">
            <span class="h2 text-success">Pré-cadastro aprovado!</span>
            <br><br>
            <p>Este é o seu nº de registro: <span class="label label-success text-lg">008231-2016</span></p>
            <br>
            <p>Os dados enviados foram aprovados pela GUX. A partir desta etapa iniciaremos a conclusão do cadastro para efetivação da adesão da sua empresa.</p>
            <br>
            <em class="text-xs text-muted">A GUX garante a resposta do seu pré-cadastro em até XX dias úteis. Caso isto não ocorra entre em contato com a nossa <strong>Central de Atendimento no 0800 10 00 08</strong>.</em>
            
        </div>

    </div>

    

</div>

<!--<div layout-align="center center" layout="row" layout-lg="column">-->