<div class='input-group date'>
	<input type="text"
		name="{{::$ctrl.parent.elementName}}"
		ng-attr-ng-required="$ctrl.parent.required"
		ng-attr-placeholder="{{::$ctrl.parent.example}}"
		ui-mask="{{::$ctrl.parent.mask}}"
		ui-mask-placeholder
		ng-model="$ctrl.formattedDate"
		ng-model-options="{ updateOn: 'blur' }"
		ng-attr-tabindex="{{$ctrl.parent.gxTabindex}}"	
		ng-attr-ng-readonly="{{::$ctrl.parent.readonly}}"
		ng-attr-ng-disabled="$ctrl.parent.disabled"
		class="form-control"
		autocomplete="off">
	<span class="input-group-addon">
		<span class="fa fa-calendar"></span>
	</span>
</div>