<input type="{{::$ctrl.parent.stereotype}}"
	name="{{::$ctrl.parent.elementName}}"
	ng-required="$ctrl.parent.required"
	ng-attr-placeholder="{{::$ctrl.parent.example}}"
	ng-attr-ui-mask="{{::$ctrl.parent.mask}}"
	ng-attr-ui-mask-placeholder="{{::$ctrl.parent.example || $ctrl.parent.mask ? '' : undefined}}"
	ng-model="$ctrl.parent.model"
	ng-model-options="!!$ctrl.parent.gxModelOptions ? $ctrl.parent.gxModelOptions : {updateOn: 'default'}"
	ng-attr-min="{{::$ctrl.parent.gxMin}}"
	ng-attr-max="{{::$ctrl.parent.gxMax}}"
	ng-attr-tabindex="{{$ctrl.parent.gxTabindex}}"	
	ng-readonly="{{::$ctrl.parent.readonly}}"
	ng-disabled="$ctrl.parent.disabled"
	class="form-control"
	autocomplete="off">