<div class="input-group gx-form-group-switch">
	<label ng-if="!!$ctrl.parent.offLabel">{{$ctrl.parent.offLabel}}</label>
	<label>
		<input type="checkbox"
			name="{{::$ctrl.parent.elementName}}"
			ng-attr-ng-required="$ctrl.parent.required"
			ng-model="$ctrl.parent.model"
			ng-attr-ng-true-value="'{{::$ctrl.parent.modelOnValue}}'"
			ng-attr-ng-false-value="'{{::$ctrl.parent.modelOffValue}}'"
			ng-attr-tabindex="{{::$ctrl.parent.gxTabindex}}"
			ng-attr-ng-readonly="{{::$ctrl.parent.readonly}}"
			ng-attr-ng-disabled="$ctrl.parent.disabled"
			ng-class="{'gx-form-group-switch-on': $ctrl.isOn()}"
			autocomplete="off">
		<span></span>
	</label>
	<label ng-if="!!$ctrl.parent.onLabel">{{$ctrl.parent.onLabel}}</label>
</div>