<div ng-cloak>
    <md-content>
        <md-tabs class="blue-grey-50" md-no-select-click md-dynamic-height md-center-tabs md-swipe-content md-align-tabs="top" md-stretch-tabs="always">
            <md-tab label="Por assunto">
                <md-content class="bg-black-opacity">

                    <!-- menu Assunto -->

                    <h1>Assuntos</h1>

                    <!-- end -->

                </md-content>

            </md-tab>
            <md-tab label="Por sistema">
                <md-content class="bg-black-opacity">

                    <!-- menu Sistema -->

                    <h1>Sistemas</h1>

                    <!-- end -->


                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
</div>