<gx-panel class="wrapper">
    <gx-panel-header title="Modelos de cartões de perfil"></gx-panel-header>
    <gx-panel-body>

        <div class="row">
            <div class="col-md-6">
                <h4>Card de pessoa - resumido</h4>
                <div class="row">
                    <div class="w-full">
                        
                        <md-card>

                            <md-card-header>

                                <div class="bg-light lter wrapper w-full r">
                                    <div class="row">
                                        <div class="wrapper-sm">

                                            <div class="btn-group dropdown pull-right">
                                                <a href="" class="dropdown btn btn-md btn-link" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-bars"></i>
                                                    </a>
                                                <ul class="dropdown-menu">
                                                    <li><a href=""><i class="fa fa-pencil m-r-sm"></i>Editar cadastro</a></li>
                                                    <li><a href=""><i class="fa fa-lock m-r-sm"></i>Permissões de acesso</a></li>
                                                    <li><a href=""><i class="fa fa fa-comment m-r-xs"></i>Enviar mensagem</a></li>
                                                    <li class="divider"></li>
                                                    <li><a href=""><i class="fa fa fa-gear m-r-xs"></i>avançado</a></li>
                                                </ul>
                                            </div>

                                            <a href="" class="thumb-xs pull-left m-r">
                                                <img src="images/profile-2.jpg" class="img-circle">
                                            </a>

                                            </dv>
                                            <div class="clear m-b">
                                                <div class="m-b-sm">
                                                    <span class="h5 text-info font-bold">William Bradley Pitt</span>
                                                </div>
                                                <p class="m-b-sm">
                                                    <a href="" class="btn btn-sm btn-bg btn-rounded btn-default btn-icon"><i class="fa fa-phone"></i></a>
                                                    <a href="" class="btn btn-sm btn-bg btn-rounded btn-default btn-icon"><i class="fa fa-envelope-o"></i></a>
                                                    <a href="" class="btn btn-sm btn-bg btn-rounded btn-default btn-icon"><i class="fa fa-map-marker"></i></a>
                                                    <a ui-sref="home.prototipos.profile-mockup" class="btn btn-sm btn-bg btn-rounded btn-info btn-icon"><i class="fa fa-user"></i>
                                                        <md-tooltip md-direction="right">Cadastro completo</md-tooltip>
                                                    </a>

                                                </p>
                                                <small class="text-info clearfix">Consultor</small>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </md-card-header>

                            <footer class="panel-footer bg-info text-center no-padder">
                                <div class="row no-gutter">
                                    <div class="col-xs-6">
                                        <div class="wrapper">
                                            <span class="m-b-xs h4 block text-white">BradPitt0606 </span>
                                            <small class="text-muted">usuário</small>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 dk">
                                        <div class="wrapper">
                                            <span class="m-b-xs h4 block text-white">22</span>
                                            <small class="text-muted">agentes associados</small>
                                        </div>
                                    </div>
                                </div>
                            </footer>
                        </md-card>


                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <h4>Card de Empresa - resumido</h4>
                <div class="row">
                    <div class="w-full">
                        <md-card>

                            <md-card-header>

                                <div class="bg-light lter wrapper w-full r">
                                    <div class="row">
                                        <div class="wrapper-sm">

                                            <div class="btn-group dropdown pull-right">
                                                <a href="" class="dropdown btn btn-md btn-link" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-bars"></i>
                                                    </a>
                                                <ul class="dropdown-menu">
                                                    <li><a href=""><i class="fa fa-pencil m-r-sm"></i>Editar cadastro</a></li>
                                                    <li><a href=""><i class="fa fa-lock m-r-sm"></i>Permissões de acesso</a></li>
                                                    <li><a href=""><i class="fa fa fa-comment m-r-xs"></i>Enviar mensagem</a></li>
                                                    <li class="divider"></li>
                                                    <li><a href=""><i class="fa fa fa-gear m-r-xs"></i>avançado</a></li>
                                                </ul>
                                            </div>

                                            </dv>
                                            <div class="clear m-b">
                                                <a href="" class="thumb-xs pull-left m-r">
                                                <img src="images/icons/1470873534_vector_65_12.svg" class="img-circle">
                                            </a>
                                                <div class="m-b-sm">
                                                    <span class="h5 text-success font-bold">Comercializadora Lorem Ipsum S.A.</span>
                                                </div>
                                                <p class="m-b-sm">
                                                    <a href="" class="btn btn-sm btn-bg btn-rounded btn-default btn-icon"><i class="fa fa-phone"></i></a>
                                                    <a href="" class="btn btn-sm btn-bg btn-rounded btn-default btn-icon"><i class="fa fa-envelope-o"></i></a>
                                                    <a href="" class="btn btn-sm btn-bg btn-rounded btn-default btn-icon"><i class="fa fa-map-marker"></i></a>
                                                    <a ui-sref="home.prototipos.empresa-mockup" data-original-title="Cadastro completo" href="" class="btn btn-sm btn-bg btn-rounded btn-success btn-icon"><i class="fa fa-user"></i>
                                                        <md-tooltip md-direction="right">Cadastro completo</md-tooltip>
                                                    </a>

                                                </p>
                                                <small class="text-success clearfix">Comercializadora</small>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </md-card-header>

                            <footer class="panel-footer bg-success text-center no-padder">
                                <div class="row no-gutter">
                                    <div class="col-xs-4">
                                        <div class="wrapper">
                                            <span class="m-b-xs h4 block text-white">34</span>
                                            <small class="text-muted">usuários</small>
                                        </div>
                                    </div>
                                    <div class="col-xs-4 dk">
                                        <div class="wrapper">
                                            <span class="m-b-xs h4 block text-white">40 </span>
                                            <small class="text-muted">representados</small>
                                        </div>
                                    </div>
                                    <div class="col-xs-4 dker">
                                        <div class="wrapper">
                                            <span class="m-b-xs h4 block text-white">56</span>
                                            <small class="text-muted">pontos</small>
                                        </div>
                                    </div>
                                </div>
                            </footer>
                        </md-card>


                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <h4>Card médio</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <h4>Card completo</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <h4>Cards alternativos</h4>
            </div>
        </div>



        <!-- body end / -->
    </gx-panel-body>
    <gx-panel-footer></gx-panel-footer>
</gx-panel>