<md-dialog class="fixed col-md-12" aria-label="Lista de Motivos">
    <md-subheader class="md-sticky h3 text-center">Linha do Tempo da habilitação técnica</md-subheader>
    <md-dialog-content class="wrapper-md w-full bg-white">

        <div class="wrapper row">

            <div class="col-md-6 b-r b-light">
                <span class="h5 text-muted m-b">Modelagem de Ativo</span>
                <div class="line line-solid b-b line-lg b-light"></div>

                <ul class="timeline">
                    <li class="tl-header">
                        <span class="btn btn-default text-muted disabled">Aprovada</span>
                        <span class="tl-date">20.08</span>
                    </li>
                    <li class="tl-item">
                        <div class="tl-wrap b-default">
                            <span class="tl-date">05.08</span>
                            <div class="tl-content">
                                <span class="text-muted">Previsão de análise da CCEE</span>
                            </div>
                        </div>
                    </li>
                    <li class="tl-item">
                        <div class="tl-wrap">
                            <span class="tl-date">01.08</span>
                            <div class="tl-content">
                                <span class="text-muted">Em Aprovação</span>
                            </div>
                        </div>
                    </li>
                    <li class="tl-item tl-left">
                        <div class="tl-wrap b-warning">
                            <span class="tl-date">29.07</span>
                            <div class="tl-content">
                                <span class="text-dark">Aguardando pendências</span>
                            </div>
                        </div>
                    </li>

                    <li class="tl-item">
                        <div class="tl-wrap b-warning">
                            <span class="tl-date">29.07</span>
                            <div class="tl-content panel padder b-a w-md w-auto-xs">
                                <span class="arrow left pull-up"></span>
                                <span class="text-lt m-b-sm">Aguardando pendências</span>
                                <div class="panel-body pull-in b-t b-light">
                                    <a href="" class="thumb pull-right m-l m-t-xs avatar">
                                        <img src="images/avatar.png" alt="...">
                                        <i class="away md b-white bottom"></i>
                                    </a>
                                    <div class="clear">
                                        <span class="text-muted block m-b-xs"><i class="fa fa-warning"></i></span>
                                        <a href="" class="btn btn-addon btn-sm btn-warning m-t-xs"><i class="fa fa-warning"></i> Verificar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="tl-item">
                        <div class="tl-wrap b-success">
                            <span class="tl-date">08.07</span>
                            <div class="tl-content panel padder b-a w-md w-auto-xs">
                                <span class="arrow left pull-up"></span>
                                <span class="text-lt m-b-sm">Em Aprovação</span>
                                <div class="panel-body pull-in b-t b-light">
                                    <a href="" class="thumb pull-right m-l m-t-xs avatar">
                                        <img src="images/avatar.png" alt="...">
                                        <i class="away md b-white bottom"></i>
                                    </a>
                                    <div class="clear">
                                        <span class="text-success block m-b-xs">Aprovado <i class="fa fa-check"></i></span>
                                        <a href="" class="btn btn-addon btn-sm btn-info m-t-xs"><i class="fa fa-eye"></i> Visualizar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="tl-item tl-left">
                        <div class="tl-wrap b-success">
                            <span class="tl-date">06.07</span>
                            <div class="tl-content panel padder b-a w-md w-auto-xs">
                                <span class="arrow left pull-up"></span>
                                <span class="text-lt m-b-sm">Em Validação</span>
                                <div class="panel-body pull-in b-t b-light">
                                    <a href="" class="thumb pull-right m-l m-t-xs avatar">
                                        <img src="images/avatar.png" alt="...">
                                        <i class="away md b-white bottom"></i>
                                    </a>
                                    <div class="clear">
                                        <span class="text-success block m-b-xs">Aprovado <i class="fa fa-check"></i></span>
                                        <a href="" class="btn btn-addon btn-sm btn-info m-t-xs"><i class="fa fa-eye"></i> Visualizar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="tl-item tl-left">
                        <div class="tl-wrap b-success">
                            <span class="tl-date">06.07</span>
                            <div class="tl-content panel padder b-a w-md w-auto-xs">
                                <span class="arrow left pull-up"></span>
                                <span class="text-lt m-b-sm">Em Aceite</span>
                                <div class="panel-body pull-in b-t b-light">
                                    <a href="" class="thumb pull-right m-l m-t-xs avatar">
                                        <img src="images/avatar.png" alt="...">
                                        <i class="away md b-white bottom"></i>
                                    </a>
                                    <div class="clear">
                                        <span class="text-success block m-b-xs">Aprovado <i class="fa fa-check"></i></span>
                                        <a href="" class="btn btn-addon btn-sm btn-info m-t-xs"><i class="fa fa-eye"></i> Visualizar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="tl-item tl-left">
                        <div class="tl-wrap b-success">
                            <span class="tl-date">03.07</span>
                            <div class="tl-content panel padder b-a w-md w-auto-xs">
                                <span class="arrow left pull-up"></span>
                                <span class="text-lt m-b-sm">Em Preenchimento</span>
                                <div class="panel-body pull-in b-t b-light">
                                    <a href="" class="thumb pull-right m-l m-t-xs avatar">
                                        <img src="images/avatar.png" alt="...">
                                        <i class="away md b-white bottom"></i>
                                    </a>

                                    <div class="clear">
                                        <span class="text-success block m-b-xs">Encaminhado <i class="fa fa-check"></i></span>
                                        <a href="" class="btn btn-addon btn-sm btn-info m-t-xs"><i class="fa fa-eye"></i> Visualizar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="tl-header">
                        <div class="btn btn-icon btn-rounded btn-success"><i class="fa fa-send fa-fw"></i></div>
                    </li>
                    <li class="tl-item m-t-n-xs">
                        <div class="tl-wrap b-success">
                            <span class="tl-date">12 de junho</span>
                            <div class="tl-content panel padder b-a bg-success">
                                <span class="arrow left pull-up hidden-left arrow-success"></span>
                                <div class="text-lt">Envio do cadastro para modelagem</div>
                            </div>
                        </div>


                    </li>



                    <li class="tl-header">
                        <div class="btn btn-sm btn-default btn-rounded">2016</div>
                    </li>

                    <li class="tl-header">
                        <div class="btn btn-sm btn-default btn-rounded m-t-lg">ir para o SigaCCEE</div>
                    </li>
                </ul>
            </div>

            <div class="col-md-6">
                <span class="h5 text-muted m-b">Mapeamento e Cadastro do ponto de Medição</span>
                <div class="line line-solid b-b line-lg b-light"></div>
                <ul class="timeline">
                    <li class="tl-header">
                        <span class="btn btn-success">Aprovado</span>
                    </li>
                    <li class="tl-item">
                        <div class="tl-wrap b-success">
                            <span class="tl-date">05.08</span>
                            <div class="tl-content">
                                <span class="text-muted">Previsão de análise da CCEE</span>
                            </div>
                        </div>
                    </li>
                    <li class="tl-header">
                        <div class="btn btn-icon btn-rounded btn-success"><i class="fa fa-send fa-fw"></i></div>
                    </li>
                    <li class="tl-item tl-left">
                        <div class="tl-wrap b-success">
                            <span class="tl-date">06.07</span>
                            <div class="tl-content panel padder b-a w-md w-auto-xs">
                                <span class="arrow left pull-up"></span>
                                <span class="text-lt m-b-sm">Envio p/ aprovação CCEE</span>
                                <div class="panel-body pull-in b-t b-light">
                                    <a href="" class="thumb pull-right m-l m-t-xs avatar">
                                        <img src="images/avatar.png" alt="...">
                                        <i class="away md b-white bottom"></i>
                                    </a>
                                    <div class="clear">
                                        <span class="text-success block m-b-xs">Encaminhado <i class="fa fa-check"></i></span>
                                        <a href="" class="btn btn-addon btn-sm btn-info m-t-xs"><i class="fa fa-eye"></i> Visualizar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="tl-item tl-left">
                        <div class="tl-wrap b-success">
                            <span class="tl-date">03.07</span>
                            <div class="tl-content panel padder b-a w-md w-auto-xs">
                                <span class="arrow left pull-up"></span>
                                <span class="text-lt m-b-sm">Cadastro do Ponto</span>
                                <div class="panel-body pull-in b-t b-light">
                                    <a href="" class="thumb pull-right m-l m-t-xs avatar">
                                        <img src="images/avatar.png" alt="...">
                                        <i class="away md b-white bottom"></i>
                                    </a>

                                    <div class="clear">
                                        <span class="text-success block m-b-xs">Encaminhado <i class="fa fa-check"></i></span>
                                        <a href="" class="btn btn-addon btn-sm btn-info m-t-xs"><i class="fa fa-eye"></i> Visualizar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="tl-item m-t-n-xs">
                        <div class="tl-wrap b-success">
                            <span class="tl-date">12 de junho</span>
                            <div class="tl-content panel padder b-a bg-success">
                                <span class="arrow left pull-up hidden-left arrow-success"></span>
                                <div class="text-lt">Mapeamento do Ponto de Medição</div>
                            </div>
                        </div>


                    </li>



                    <li class="tl-header">
                        <div class="btn btn-sm btn-default btn-rounded">2016</div>
                    </li>

                    <li class="tl-header">
                        <div class="btn btn-sm btn-default btn-rounded m-t-lg">ir para o SCDECCEE</div>
                    </li>
                </ul>
            </div>

        </div>



    </md-dialog-content>

    <md-dialog-actions>

        <div class="text-center w-full">
            <button ng-click="answer('Ok')" type="button" class="btn btn-link pull-left">
                <i class="fa fa-tachometer m-r-xs"></i>ir para o Dashboard
            </button>

            <a href="http://homigracoes/UX/SOMA/validacao/dashboard.html" target="_blank" class="btn btn-rounded btn-info pull-right m-l-sm">
                Acessar o SigaCCEE
            </a>

            <a href="http://homscde02.energia.org.br" target="_blank" class="btn btn-rounded btn-info pull-right m-l-sm">
                Acessar o SCDE
            </a>

            <a ui-sref="home.prototipos.wizard" ng-click="answer('')" class="btn btn-addon btn-rounded btn-success pull-left m-l-sm">
                <i class="ion-clipboard"></i> Entrar no processo de Adesão
            </a>

        </div>

    </md-dialog-actions>

</md-dialog>