<md-dialog class="fixed col-md-12" aria-label="Lista de Motivos">
  <md-subheader class="md-sticky-no-effect">Adicionar contato</md-subheader>
  <md-dialog-content class="wrapper-md w-full">
      
    <h3> Protótipo para buscar e adicionar usuário na lista de Tipo de Contato.</h3>
  

  </md-dialog-content>

    <md-dialog-actions>
        <md-button ng-click="answer('Usuário Brad Pitt foi adicionado como Representante Legal')" class="md-primary md-raised">
         Adicionar usuário
        </md-button>
        <md-button ng-click="answer('Operação cancelada...')" class="md-default md-raised">
          cancelar
        </md-button>
    </md-dialog-actions>      

</md-dialog>
