<md-dialog id="myAction" aria-label="Lista de Motivos">
  <md-subheader class="md-sticky-no-effect">Itens alterados neste cadastro</md-subheader>
  <md-content class="wrapper-md">
    
    <p>
      Aqui entra o conteúdo do alert. Pode ser qualquer coisa.
    </p>
  </md-content>

    <md-dialog-actions>
        <md-button ng-click="answer('Salvo')" class="md-raised">
          cancelar
        </md-button>
        <md-button ng-click="answer('cancelardo')" class="md-primary md-raised">
         Salvar estas alterações
        </md-button>
    </md-dialog-actions>      

</md-dialog>
