<div class="container-fluid wrapper-xs w-auto-xs w-50">

    <a class="navbar-brand block">
        <img src="images/logo.png" class="w-md center animated fadeIn" style="max-height:none;">
    </a>

</div>

<div class="container-fluid wrapper-xs w-auto-xs w-90">

    <gx-panel class="wrapper-lg">

        <multi-step-container steps="preSteps" class="simple-prev-next" on-finish="finish()" on-cancel="cancel()">

            <div class="col-xs-6 no-padder m-b-n-lg">
                <div class="panel padder-v item card text-center">
                    <div class="h4 text-info font-thin h1">{{ favoriteTopping }}</div>
                    <span class="text-muted text-xs">motivo deste cadastro </span>
                </div>
            </div>

            <div class="col-xs-6 no-padder m-b-n-lg">
                <div class="panel padder-v item card text-center">
                    <div class="h4 text-info font-thin">{{ valorEmailPre }}</div>
                    <span class="text-muted text-xs">e-mail escolhido para o cadastro</span>
                </div>
            </div>


            <gx-panel-body class="no-padder">

                <button pb-style="shrink" pb-direction="horizontal" progress-button="someFunctionThatReturnsPromise()" ng-disabled="$isLast() || ($getActiveStep().hasForm && !$getActiveStep().valid)" ng-click="$nextStep()" class="progress-button btn-block blue-700">
                <span ng-hide="$isLast()">Salvar e avançar</span>
                <span ng-if="$isLast()" class="animated fadeIn h4">Pré-cadastro enviado com sucesso</span>
            </button>


            </gx-panel-body>

            <div class="progress-xs progress top no-padder v-top">
                <div ng-model="value" class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="1" aria-valuemin="0" aria-valuemax="100" aria-valuetext="1%" style="{{items[$getActiveIndex() - 0]}}"></div>
            </div>


            <gx-panel-body>
                <div class="text-center">
                    <div class="row m-b-md">
                        <button ng-class="{ 'blue-600 animated flipInY': $getActiveIndex() >= 1 }" class="md-btn md-fab m-b m-r-md"><i class="fa fa fa-unlock" aria-hidden="true"></i></button>
                        <span class="m-r text-muted h6">Identificação</span>

                        <button ng-class="{ 'blue-600 animated flipInY': $getActiveIndex() >= 2}" class="md-btn md-fab m-b m-r-md"><i class="fa fa fa-user" aria-hidden="true"></i></button>
                        <span class="m-r text-muted h6">Dados pessoais</span>

                        <button ng-class="{ 'blue-600 animated flipInY': $getActiveIndex() >= 3 }" class="md-btn md-fab m-b m-r-md"><i class="fa fa fa-industry" aria-hidden="true"></i></button>
                        <span class="m-r text-muted h6">Dados da empresa</span>

                        <button ng-class="{ 'blue-600 animated flipInY': $getActiveIndex() >= 4 }" class="md-btn  md-fab m-b m-r-md"><i class="fa fa fa-check" aria-hidden="true"></i></button>
                        <span class="m-r text-muted h6">Verificação das informações</span>

                        <button ng-class="{ 'blue-600 animated flip': $getActiveIndex() >= 5 }" class="md-btn md-fab m-b m-r-md">
                        <i class="fa fa fa-send" aria-hidden="true"></i>
                    </button>
                        <span class="m-r text-muted h6">Envio</span>

                    </div>
                </div>


                <main step-container>




                    <!--
                <div class="col-md-12 m-t-lg text-left bg-white m-b">
                            <span 
                                  class="text-muted font-thin" 
                                  ng-bind-template="{{$getActiveIndex()}}. {{$getActiveStep().title}}"></span>  
                </div>
-->


                    <div class="row">
                        <div ng-show="termoAdesao" class="btn-group dropdown pull-left">
                            <a href="" class="dropdown btn btn-lg btn-info btn-addon text-info" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-file-text-o"></i> Termo de Adesão</a>
                            <ul class="dropdown-menu">
                                <li><a href=""><i class="fa fa-check m-r-sm text-success"></i>Assinar digitalmente</a></li>
                                <li class="divider"></li>
                                <li><a href=""><i class="fa fa-eye m-r-sm"></i>Ler o Termo</a></li>
                                <li><a href=""><i class="fa fa-download m-r-sm"></i>Baixar versão PDF</a></li>
                            </ul>
                            <a ui-sref="home.prototipos.login" class="btn btn-xs btn-link" aria-expanded="false"><i class="glyphicon glyphicon-trash m-r-xs m-t-sm m-l"></i>cancelar este cadastro</a>
                        </div>
                    </div>


            </gx-panel-body>

            <a ng-disabled="$isFirst()" ng-hide="$isLast()" class="md-button btn-md md-raised" ng-click="$previousStep()"><i class="fa fa-arrow-left m-r"></i>voltar</a>

            <button ng-hide="$isLast()" pb-style="shrink" pb-direction="horizontal" progress-button="someFunctionThatReturnsPromise()" ng-disabled="$isLast() || ($getActiveStep().hasForm && !$getActiveStep().valid)" ng-click="$nextStep()" class="progress-button pull-right blue-700">
            <span ng-hide="$isLast()">Salvar e avançar</span>
            <span ng-if="$isLast()" class="animated fadeIn h4">Cadastro enviado com sucesso</span>
        </button>
            <div class="row text-center">
                <a ng-show="$isLast()" class="btn btn-md btn-default pull-right" ng-click="showStatusCad = !showStatusCad">
                    <i class="ion-help-circled m-r-xs"></i>
                    <span ng-hide="showStatusCad">Tire dúvidas sobre este cadastro</span>
                    <span ng-show="showStatusCad">Ok!</span>
                </a>
            </div>
            <div class="card bg-light m-t" ng-show="showStatusCad">

                <div class="h4 animated fadeIn">

                    <ul class="list-group alt">

                        <li class="list-group-item">
                            <span class="h4 text-muted">Situação atual do cadastro</span>
                            <span class="text-xs text-muted clearfix">Aguarde um e-mail da GUX com a aprovação do seu pré-cadastro.</span>

                        </li>

                        <li class="list-group-item">
                            <span class="h4 text-muted">O que acontece a partir de agora?</span>
                            <span class="text-xs text-muted clearfix"> Por enquanto nada foi alterado. A GUX verificará as informações enviadas em um prazo de XX dias e lhe enviará uma resposta sobre o a situação do cadastro.</span>
                        </li>


                        <li class="list-group-item">
                            <span class="h4 text-muted">Se meu cadastro for aprovado?</span>
                            <span class="text-xs text-muted clearfix"> Caso Seu cadastro seja aprovado, você receberá um e-mail de confirmação no <span class="text-info"> {{ valorEmailPre }} </span> para conclusão das etapas de adesão da sua empresa através
                            do acesso ao painel do cadastro. Caso tenha dúvidas consulte os PdCs no nosso Portal: PdCs - Adesão.</span>
                        </li>

                        <li class="list-group-item">
                            <span class="h4 text-muted">Caso seja reprovado?</span>
                            <span class="text-xs text-muted clearfix"> Caso Seu cadastro for reprovado, você será informado o motivo por e-mail.</span>
                        </li>
                    </ul>
                </div>
            </div>


            </main>

            <span class="text-muted text-xs m-r-sm m-t-sm pull-right">Você está no passo <span class="text-muted font-thin" ng-bind-template="{{$getActiveIndex()}}"></span> (de 6)</span>


        </multi-step-container>
    </gx-panel>
</div>

<div class="row text-center m-t m-b-lg">
    <a back-button class="btn btn-xs btn-link btn-addon text-info clearfix">Deseja cancelar este processo de cadastro?</a>
</div>