<div class="wrapper animated fadeInRight">
    <div class="row row-sm">
        <div class="col-xs-12">

            <div ng-cloak>
                <md-content>
                    <md-tabs md-dynamic-height md-border-bottom>
                        <md-tab label="Introdução">
                            <md-content class="md-padding wrapper-lg">
                                <div class="bg-white text-left">
                                    <h2 class="md-display-1 font-thin text-muted"> Dersenvolvendo interfaces agradáveis para os usuários </h2>
                                    <hr/>
                                    <p><strong>UX Patterns</strong> trata de como precisamos gerenciar as indicações que damos aos nossos usuários. Este é o conjunto de princípios, padrões e práticas que recomendamos na utilização do GUX e em qualquer processo
                                        de prototipação. </p>

                                    <p>Nem tudo será resolvido seguindo estas informações, no entanto, com estas indicações é possível mitigar aspectos mínimos que possam vir a prejudicar a usabilidade de um sistema. </p>

                                    <p>Experiência não é algo que se desenha. Trabalhos com o artefato que promoverá a experiência, e este é o motivo da nossa dedicação nesta documentação.</p>

                                    <p>Trabalhamos sob a ótica de atribuições e processos complexos. Nosso modelo possui uma estreita margem de manobra para balizamento de decisões de cunho tecnológico. A orientação aos padrões de <strong>usabilidade</strong>                                        deixaram de ser diferencial. É nossa obrigação entregar bons sitemas e ainda é importante entender que usabilidade é a crua tradução desta perceção que parte do usuário. Queremos oferecer uma experiência compatível
                                        com as transformações que a dinâmica do mercado moderno exige. </p>

                                    <p> Se imaginarmos nossos sistemas de negócio (tendo ou não uma interface web) são como uma janelas que permitem a GUX ver o que ocorre no "mundo lá fora" e ao mesmo tempo são canais que nos deixam expostos para este mundo.
                                        Podem vir muitas analogias em sua mente, mas o fato é que não podemos nos esconder daquilo que eles enxergam de nós, mesmo ignorando o que enxergamos deles.</p>

                                    <div class="line line-lg b-b b-light"></div>

                                    <p class="text-center h4">Leitura recomendada:
                                        <a href="https://brasil.uxdesign.cc/infogr%C3%A1fico-vale-a-pena-investir-em-ux-bac901d3d6dd#.lkyrqlsqu" target="_blank">Vale a pena investir em UX?</a>
                                    </p>

                                    <div class="line line-lg b-b b-light"></div>


                                    <p>Temos uma gama de usuários cativos e desenvolvemos sistemas que fazem parte do rotina destes profissionais. Nossa tarefa em tecnologia é descomplicar o que é possível. Somos viabilizadores do negócio. Transmissores
                                        de informação valiosa que nosso negócio gera.</p>

                                    <p>Ter usuários satisfeitos e realizando suas atividades sem se preocupar com problemas que a aplicação irá lhe causar será sempre a nossa missão. Gostamos de pensar que somos coadjuvantes do sucesso destes clientes.</p>

                                    <p>Somos guiados pelos mais significativos <i>players</i> do mercado: Google, Apple, Microsoft, IBM, dentre muitos outros. Assim como estes famosos players nossa maior inspiração é o lado humano e social da User Experience.</p>

                                    <p>Trazer para a superficie a essencia de trabalhar a tecnologia para pessoas e pelas pessoas. Temos claro em mente que somos como eles - os usuários - que estão do outro lado da janela.
                                    </p>
                                    <p>O GUX veio para abrir e manter aberta esta janela.</p>

                                    <span>
                                        <img src="images/ux-intro.png" alt="Introdução" class="col-xs-12 bg-white-only" />
                                    </span>
                                </div>

                                <hr>

                                <div class="line line-lg b-b b-light"></div>

                                <div class="text-muted ng-scope"> <i class="fa fa-user text-muted"></i> por: <a href="" class="m-r-sm">Equipe de UX</a> <i class="fa fa-clock-o text-muted"></i> Jan, 2017 </div>

                            </md-content>
                        </md-tab>

                        <md-tab label="Princípios">
                            <md-content class="md-padding wrapper-lg">
                                <h2 class="md-display-1 font-thin text-muted"><i class="fa fa-ship" aria-hidden="true"></i> Para qual direção o barco aponta?</h2>
                                <hr/>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <p>Parece chato. Mas é importante. Talvez o truque infalível aqui seja: não tente reinventar a roda. Ler os princípios que praticamos no dia-a-dia apenas uma vez é suficiente. O efeito só ocorre com a prática, por
                                            isso separamos uma aba somente para isso.</p>
                                    </div>

                                </div>

                            </md-content>
                        </md-tab>

                        <md-tab label="Padrões">
                            <md-content class="md-padding wrapper-lg">
                                <h2 class="md-display-1 font-thin text-muted"><i class="ion-code-working"></i> Padrões </h2>
                                <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum
                                    nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
                            </md-content>
                        </md-tab>

                        <md-tab label="na prática">
                            <md-content class="md-padding wrapper-lg">
                                <h2 class="md-display-1 font-thin text-muted"><i class="fa fa-smile-o" aria-hidden="true"></i> Vem, aqui você vai brilhar! </h2>
                                <p>Qualquer pessoal pode e deve ser capaz de utilizar uma aplicação construída com o GUX da GUX, utilizando qualquer plataforma ou browser seguro, moderno (e atualizado).</p>
                                <p>Ouvir o usuário. <strong>Mas ouvi-lo não é fazer o que ele quer</strong>, e sim ter empatia pelo seu trabalho e cumprir com a missão de um bom profissional de tecnologia: produzir aquilo que ele precisa (e o que vai ser
                                    excelente do ponto de vista do negócio).
                                </p>
                                <div class="row">


                                    <div class="col-md-4">
                                        Imagem
                                    </div>

                                    <div class="col-md-4">
                                        <h3 class="font-thin text-muted">Combinação inteligente</h3>
                                        <p>Para que isso seja sempre possível ofereça combinações de componentes que dê caminhos racionais para o usuário. Mixe os elementos de forma inteligente para que estejam acessessíveis na ordem correta. A rota de preenchimento
                                            é mais importante que a estética. Teste. Não tenha receio de experimentar.</p>

                                    </div>

                                    <div class="col-md-4">
                                        Imagem
                                    </div>



                                </div>

                                <div class="row">

                                    <div class="col-md-4">
                                        Imagem
                                    </div>

                                    <div class="col-md-4">
                                        <h3 class="font-thin text-muted">Features Globais</h3>
                                        <p>Sempre que possível habilite funcionalidades globais que possibilite o aumento de contraste em cores e textos, tela cheia, transparências e movimentos. Pense. Não somos todos iguais. E o mundo de possibilidades
                                            está cada vez mais amplicado.</p>

                                    </div>

                                    <div class="col-md-4">
                                        Imagem
                                    </div>


                                </div>


                                <div class="row">
                                    <div class="col-md-4">
                                        Imagem
                                    </div>

                                    <div class="col-md-4">
                                        <h3 class="font-thin text-muted">Rotas</h3>
                                        <p>Aplique rotas gráficas e sempre demonstre de forma clara os elementos clicáveis para um rastreio instantâneo do usuário. Dê vida e movimento para sua aplicação. O GUX lhe permite isso.</p>

                                    </div>
                                    <div class="col-md-4">
                                        Imagem
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        Imagem
                                    </div>

                                    <div class="col-md-4">
                                        <h3 class="font-thin text-muted">Relevância</h3>
                                        <p>elementos gratuitos causarão distração na aplicação. Portanto um espaço em branco vale mais que um elemento ocioso. Baseado na proporção de conteúdo, a proporção da aplicação de equivale na interface. Não é necessário
                                            preencher toda a a interface com os componentes gráficos. Se houver poucos elementos e sobrar espaços na interface, deixe-os sobrar. (usar exemplo da tela de login, de telas com poucos formulários. Usar exemplo
                                            do ponto de vista do google, menos elementos e interações inteligentes). Se sobrar espaço, dê respiro para os elementos.</p>

                                    </div>

                                    <div class="col-md-4">
                                        Imagem
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        Imagem
                                    </div>

                                    <div class="col-md-4">
                                        <h3 class="font-thin text-muted">Comportamento e ponto de vista</h3>
                                        <h4 class="font-thin text-muted">De onde eu venho? </h4>
                                        <p>A aparência das aplicações é composta por elementos comuns, no entanto, o comportamento é o item que está no índice  como o nosso primeiro compromisso com os usuários.</p>
                                        <h4 class="font-thin text-muted">Como faço para voltar? </h4>
                                        <p>Não é preciso alongar muito a questão, ao abrir a nossa especificação, protótipo ou aplicação façamos a seguinte pergunta.</p>
                                        <h4 class="font-thin text-muted">O que acontecerá se eu tocar aqui? </h4>
                                        <p>Eis a importância da aparência da aplicação. Este tópico trata de como precisamos  dar indicações instantâneas para o usuário do que é: importante, manipulável, indispensável, segregador, congruente, complementar,
                                            comparável. Dar indicação instantânea é uma tarefa que exige conhecer o seu usuário, entendê-lo e ouvi-lo. </p>

                                    </div>

                                    <div class="col-md-4">
                                        Imagem
                                    </div>

                                </div>



                            </md-content>
                        </md-tab>

                        <md-tab label="DX">
                            <md-content class="md-padding wrapper-lg">
                                <h2 class="md-display-1 font-thin text-muted">Developer Experience <i class="fa fa-terminal" aria-hidden="true"></i> </h2>
                                <p class="md-display-1 font-thin text-info">Afinal, porque ignorar as aqueles que passam pela experiência do usuário?</p>
                                <p>Nunca houve um motivo para isso. </p>
                            </md-content>
                        </md-tab>

                        <!--<md-tab label="simplicidade e organização">
                            <md-content class="md-padding wrapper-lg">
                                <h2 class="font-thin text-muted">Mais que uma palavra mágica...</h2>
                                <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum
                                    nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
                            </md-content>
                        </md-tab>-->

                        <!--<md-tab label="Interação e mobilidade">
                            <md-content class="md-padding wrapper-lg">
                                <h2 class="md-display-2 font-thin text-muted">É fato: menos é mais!</h2>
                                <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum
                                    nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
                            </md-content>
                        </md-tab>-->

                        <!--<md-tab label="Flexibilidade e prioridade">
                            <md-content class="md-padding wrapper-lg">
                                <h2 class="font-thin text-muted">Não exija esforço do usuário!</h2>
                                <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum
                                    nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
                            </md-content>
                        </md-tab>-->

                        <!--<md-tab label="usuário e negócio">
                            <md-content class="md-padding wrapper-lg">
                                <h2 class="font-thin text-muted">Quem é? Onde vive? O que faz? Do que ele gosta?</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin
                                    consectetur felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum enim, vel tempor sapien arcu a tellus. Vivamus convallis sodales ante varius gravida.
                                    Curabitur a purus vel augue ultrices ultricies id a nisl. Nullam malesuada consequat diam, a facilisis tortor volutpat et. Sed urna dolor, aliquet vitae posuere vulputate, euismod ac lorem. Sed felis risus, pulvinar
                                    at interdum quis, vehicula sed odio. Phasellus in enim venenatis, iaculis tortor eu, bibendum ante. Donec ac tellus dictum neque volutpat blandit. Praesent efficitur faucibus risus, ac auctor purus porttitor vitae.
                                    Phasellus ornare dui nec orci posuere, nec luctus mauris semper.</p>
                                <p>Morbi viverra, ante vel aliquet tincidunt, leo dolor pharetra quam, at semper massa orci nec magna. Donec posuere nec sapien sed laoreet. Etiam cursus nunc in condimentum facilisis. Etiam in tempor tortor. Vivamus faucibus
                                    egestas enim, at convallis diam pulvinar vel. Cras ac orci eget nisi maximus cursus. Nunc urna libero, viverra sit amet nisl at, hendrerit tempor turpis. Maecenas facilisis convallis mi vel tempor. Nullam vitae nunc
                                    leo. Cras sed nisl consectetur, rhoncus sapien sit amet, tempus sapien.</p>
                                <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum
                                    nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
                            </md-content>
                        </md-tab>-->


                    </md-tabs>
                </md-content>
            </div>

        </div>
    </div>
</div>