<div class="container-fluid wrapper-lg w-auto-xs w-100 hidden-xs">

    <div class="row hidden-xs">
        <div class="bg-iphone col-md-6">
            <iframe style="margin-top: 80px !important; margin-left: 12px;" class="b b-dark" name="mobilegux" width="347" height="608" frameborder="0" ng-src="http://localhost:8080/"></iframe>
        </div>
        <div class="bg-samsung col-md-6">
            <iframe style="margin-top: 80px !important; margin-left: 12px;" class="b b-dark" name="mobilegux" width="347" height="608" frameborder="0" ng-src="http://localhost:8080/"></iframe>
        </div>

    </div>

</div>

<div class="alert alert-danger visible-xs">
    <span class="h3">Epa! opa! epa!</strong> <i class="fa fa-frown-o fa-spin fa-fw" aria-hidden="true"></i></span>
    <br/>Para ver esta demonstração você precisa aumentar a largura do seu browser! Esta é uma página de demonstração das telas do GUX em dispositivos móveis.
</div>